<h2>Edit category</h2>
<%= form_for @category do |f| %>
<% if @category.errors.any? %>
<h3>Errors:</h3>
<ul>
<% @category.errors.full_messages.each do|msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<%= f.label :name %> <!-- <label>Name : </label> -->
<%= f.text_field :name %> <br/>
<%= f.submit "submit" %> or <%= link_to "back", category_path(@category.id) %> or <%= link_to "List", categories_path %>
<% end %>
