<h2><%= @category.name %></h2>
<%= link_to "edit", edit_category_path(@category.id) %> |
<%= link_to "destroy", category_path(@category.id), method: :delete, data: {confirm: "Are you sure"} %>
<% @category.sub_categories.each do |sub_category| %>
<h3><%= link_to sub_category.name.upcase, sub_category_path(sub_category.id) %> (<%= sub_category.products.size %>)</h3>
<ul>
<% sub_category.products.each do|product| %>
<li><%= link_to product.name, product_path(product.id) %></li>
<% end %>
</ul>
<% end %>


<% if @products.empty? %>
<p>no products found</p>
<% else %>
<ol>
<% @products.each do|product| %>
<li>
<%= product.name %> <%= product.price %> (<%= product.stock %>)
</li>
<% end %>
</ol>
<% end %>

<p>listing products less than 500</p>
<ol>
<% @products_lessthan500.each do|product| %>
	<li>
	<%= product.name %> <%= product.price %> 
	</li>
<% end %>
</ol>

<p>listing products greater than 500</p>
<ol>
<% @products_greaterthan500.each do|product| %>
<li>
<%= product.name %> <%= product.price %>
</li>
<% end %>
</ol>
<%= link_to "Back", categories_path %>
