<h2>Listing products : <%= @products.length %> </h2>
<% if user_signed_in? && current_user.is_admin %>

<%= link_to "Add Product", new_product_path %>
<% end %>

<% if @products.empty? %>
<p> products have not been added </p>
<% else %>
<ul>
<% @products.each do |product| %>
<li><%= link_to  product.name, product_path(product.id) %> INR
<%= product.price %> --
	<%= product.category.name %>
</li>
<% end %>
</ul>
<% end %>
 



