<h2>Add Product</h2>
<%=form_for @product do |f| %>
<% if @product.errors.any? %>
<h3>Errors : </h3>
<ul>
<% @product.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= f.label :category_id %><br/>
<%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select Category" %><br/>

<%= f.label :sub_category_id %><br/>
<%= f.collection_select :category_id, Category.all, :id, :name, prompt: "select category" %><br/>

<%= f.label :name %><br/>
<%= f.text_field :name %><br/>

<%= f.label :description %><br/>
<%= f.text_area :description, rows: 5, cols: 20 %><br/>

<%= f.label :price %><br/>
<%= f.number_field :price %><br/>

<%= f.label :stock %><br/>
<%= f.number_field :stock %><br/>

<%= f.label :cod_eligibility %><br/>
<%= f.check_box :cod_eligibility %><br/>

<%= f.submit  %>
<% end %>
