<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
welcome <%= current_user.email %>
<%= link_to "account setting", edit_user_registration_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>
<% end %>
<br/>
<%= link_to "Your Cart", cart_line_items_path %> |
<%= link_to "categories", categories_path %> | <%= link_to "products", products_path %> 
<br/>
<%= notice %>
<%= alert %>
<%= yield %>


</body>
</html>
